#Place all configs here for setup scripts on mac.
brew:~/repos/expo/bash/conf/mac/brew.inventory
oh-my-git:~/.oh-my-git
bash:~/repos/expo/bash/bash_profiles/expo_mac_bash.profile
directories:~/repos/expo/bash/conf/mac/directories.conf
vim:~/repos/expo/bash/conf/mac/mac.vimrc
crons:#
local-email:#
gcp:#
aws:#
python3:#
java:#
node:#
angular:#
julia:#
rust:#
user_email:colquitt.craig@gmail.com
